/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/mix-manifest.json
package-lock.json
/public/robots.txt
/public/assets
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock
